/* Colors */
$blueDark: #1F4354;
$blueGray: #89b9d3;
$blueLight: #25ABEC;
$blueMedium: #2382B0;
$bluePrimary: #226383;
$blueSky: #aad7ed;
$grayLight: #a7c3d1;
$grayDark: #111D23;
$grayWhite: #e0e8ff;
