.about {
  width: 100%;
  height: 100%;
  min-height: 550px;
  background-color: $blueMedium;
  color: #FFFFFF;
  outline: none;

  @mixin atSmall {
    height: 40%;
    min-height: 400px;
  }

  @mixin atMedium {
    min-height: 250px;
  }

  @mixin atLarge {
    min-height: 300px;
  }

  &__title {
    font-family: Oswald, sans-serif;
    font-size: 3em;
    font-weight: 700;

    @mixin atSmall {
      font-size: 4em;
      line-height: 0.8em;
    }

    @mixin atLarge {
      font-size: 5em;
    }
  }

  &__content {
    display: inline;
    font-family: Josefin Sans, sans-serif;
    font-size: 1.6em;
    font-weight: 400;

    @mixin atMedium {
      width: auto;
      font-size: 1.75em;
    }

    @mixin atLargest {
      font-size: 2em;
    }

    &-below {
      width: 100%;

      &--contact {
        display: inline;
        word-spacing: -0.25em;

        &:hover .about__content-below--underline {
          color: $grayDark;
        }

        &:hover .about__content-below--punctuation {
          color: $grayDark;
        }
      }

      &--underline {
        text-decoration: underline;
        word-spacing: normal;
        transition: color 0.2s ease-in-out;
      }

      &--punctuation {
        transition: color 0.2s ease-in-out;
      }
    }
  }
}
