.contact {

  width: 100%;
  height: 25em;
  background-color: $blueMedium;
  color: #FFFFFF;

  &__title {
    font-family: Oswald, sans-serif;
    font-size: 5em;
    font-weight: 700;
  }

  &__content {
    font-family: Shadows Into Light, sans-serif;
    font-size: 2.5em;
    font-weight: 400;
  }
}
