.contact {
  width: 100%;
  height: 35%;
  background-color: $blueMedium;
  color: $grayDark;

  &__title {
    margin-bottom: 0.5%;
    font-family: Oswald, sans-serif;
    font-size: 5em;
    font-weight: 700;
  }

  &__content {
    margin-top: 0.5%;
    font-family: Shadows Into Light, sans-serif;
    font-size: 4em;
    font-weight: 400;
  }
}
