.portfolio {
  width: 100%;
  height: 400%;
  background-color: $blueLight;
  color: $blueDark;

  @mixin atLarge {
    height: 100%;
  }

  &__title {
    font-family: Oswald, sans-serif;
    font-size: 5em;
    font-weight: 700;
  }

  &__content {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 1px 10px 2px $grayDark;
    line-height: 35px;

    @mixin atSmall {
      box-shadow: 0 1px 25px 2.5px $grayDark;
    }

    &:hover {

      & .portfolio__content--overlay {
        opacity: 0.9;
      }

      & .portfolio__content--text {
        opacity: 1;
      }
    }

    &--image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border: solid 1px $grayDark;
      border-radius: 10px;
      box-sizing: border-box;


      &__1 {
        background-image: url("../../assets/images/portfolio-image__300w--placeholder.png");
      }

      &__2 {
        background-image: url("../../assets/images/portfolio-image__300w--placeholder.png");
      }

      &__3 {
        background-image: url("../../assets/images/portfolio-image__300w--placeholder.png");
      }

      &__4 {
        background-image: url("../../assets/images/portfolio-image__300w--placeholder.png");
      }

      &__5 {
        background-image: url("../../assets/images/portfolio-image__300w--placeholder.png");
      }

      &__6 {
        background-image: url("../../assets/images/portfolio-image__300w--placeholder.png");
      }
    }

    &--overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: $grayDark;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    &--text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 10px;
      box-sizing: border-box;
      background-color: transparent;
      color: $grayLight;
      font-family: Shadows Into Light, sans-serif;
      opacity: 0;
      transition: all 0.2s ease-in-out;

      &__title {
        margin: 0.5em 0 0.25em 0;
        font-size: 2.5em;
        text-align: center;
      }

      &__description {
        margin: 0.25em 1em 0.5em 1em;
        font-size: 1.75em;
        font-weight: 400;
      }
    }
  }
}
