.portfolio {

  width: 100%;
  height: 37.5em;
  background-color: $blueLight;
  color: $blueDark;

  &__title {
    font-family: Oswald, sans-serif;
    font-size: 5em;
    font-weight: 700;
  }

  &__example-container {

  }

  &__example {

    font-family: Shadows Into Light, sans-serif;
    font-size: 2.5em;
    font-weight: 400;

    &--1 {

    }

    &--2 {

    }

    &--3 {

    }

    &--4 {

    }

    &--5 {

    }

    &--6 {

    }
  }
}
