.site-header {
  position: fixed;
  z-index: 1;

  &__open-button {
    display: none;
    position: absolute;
    top: 10px;
    left: 20px;
    color: #FFFFFF;
    font-size: 4em;
    cursor: pointer;

    @mixin atMedium {
      display: block;
    }
  }

  &__navigation {
    display: none;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 1;
    width: 0;
    height: 100%;
    /* background-color: $blueDark @ 80% Opacity */
    background-color: rgba(31, 67, 84, 1);
    color: #FFFFFF;
    transition: width 0.2s ease-in-out;

    @mixin atMedium {
      display: block;
    }

    &--open {
      width: 12.5%;
    }
  }

  &__close-button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  &__nav-item {
    width: 3.75em;
    height: 1.875em;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-color: none;
    font-family: Oswald, sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.875em;
    text-align: center;
    opacity: 0;
    transition: background-color 0.2s ease-in-out, opacity 0.1s linear;

    @mixin atLarge {
      width: 4em;
      height: 2em;
      font-size: 1.75em;
      line-height: 2em;
    }

    &:hover {
      background-color: $blueLight;
    }

    &--open {
      opacity: 1;
      transition: background-color 0.2s ease-in-out, opacity 0.3s 0.1s linear;
    }
  }

  &__navigation {

  }
}
