.site-header {
  display: none;
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 1;
  width: 12.5%;
  height: 100%;
  /* background-color: $blueDark @ 80% Opacity */
  background-color: rgba(31, 67, 84, 1);
  color: #FFFFFF;

  @mixin atMedium {
    display: block;
    width: 17.5%;
  }

  @mixin atLarge {
    width: 12.5%
  }

  &__nav-item {
    width: 4em;
    height: 2em;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-color: none;
    font-family: Oswald, sans-serif;
    font-size: 1.75em;
    font-weight: 700;
    line-height: 2em;
    text-align: center;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $blueLight;
    }
  }

  &__navigation {

  }
}
