.wrapper {

  &--site-header {

  }

  &--hero {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: [col-0] 20% [col-1] 20% [col-2] 20% [col-3] 20% [col-4] 20% [col-5];
    grid-template-rows: [row-0] 20% [row-1] 20% [row-2] 20% [row-3] 20% [row-4] 20% [row-5];

    &__image {
      grid-column: col-0 / col-5;
      grid-row: row-0 / row-3;
      justify-self: center;
      height: 100%;
      overflow: hidden;
      border-bottom: 0.625em solid $blueLight;
      box-sizing: border-box;

      @mixin atSmall {
        grid-row: row-0 / row-5;
        border-bottom: none;
      }
    }

    &__info {
      grid-column: col-0 / col-5;
      grid-row: row-3 / row-5;
      justify-self: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-bottom: 0.625em solid $blueLight;
      box-sizing: border-box;

      @mixin atSmall {
        border-bottom: none;
      }

      @mixin atMedium {
        grid-column: col-2 / col-5;
        grid-row: row-0 / row-5;
      }
    }

    &__tagline {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @mixin atSmall {
        flex-direction: row;
        align-items: center;
      }
    }
  }

  &--about {
    display: grid;
    grid-template-columns: [about-col-0] 10% [about-col-10] 10% [about-col-20] 10% [about-col-30] 60% [about-col-90] 10% [about-col-100];
    grid-template-rows: [about-row-0] 2.5% [about-row-2_5] 20% [about-row-22_5] 2.5% [about-row-25] 72.5% [about-row-97_5] 2.5% [about-row-100];
    width: 100%;
    height: 100%;

    &__title {
      grid-column: about-col-10 / about-col-90;
      grid-row: about-row-2_5 / about-row-22_5;
      align-self: center;

      @mixin atMedium {
        grid-column: about-col-10 / about-col-20;
        grid-row: about-row-2_5 / about-row-97_5;
        align-self: start;
      }
    }

    &__content {
      grid-column: about-col-10 / about-col-90;
      grid-row: about-row-25 / about-row-97_5;

      @mixin atMedium {
        grid-column: about-col-30 / about-col-90;
        grid-row: about-row-2_5 / about-row-97_5;
      }
    }
  }

  &--skills {
    display: grid;
    grid-template-columns: [skills-col-0] 10% [skills-col-10] 35% [skills-col-45] 10% [skills-col-55] 35% [skills-col-90] 10% [skills-col-100];
    grid-template-rows: [skills-row-0] 2.5% [skills-row-2_5] 12.5% [skills-row-15] 2.5% [skills-row-17_5] 40% [skills-row-57_5] 40% [skills-row-97_5] 2.5% [skills-row-100];
    width: 100%;
    height: 100%;

    &__title {
      grid-column: skills-col-10 / skills-col-90;
      grid-row: skills-row-2_5 / skills-row-15;
      justify-self: center;
    }

    &__content {

      &--left {
        grid-column: skills-col-10 / skills-col-90;
        grid-row: skills-row-17_5 / skills-row-57_5;
        justify-self: center;
        display: flex;
        align-items: flex-start;

        @mixin atSmall {
          grid-column: skills-col-10 / skills-col-45;
          grid-row: skills-row-17_5 / skills-row-97_5;
          align-items: center;
        }
      }

      &--right {
        grid-column: skills-col-10 / skills-col-90;
        grid-row: skills-row-57_5 / skills-row-97_5;
        justify-self: center;
        display: flex;
        align-items: flex-start;

        @mixin atSmall {
          grid-column: skills-col-55 / skills-col-90;
          grid-row: skills-row-17_5 / skills-row-97_5;
          align-items: center;
        }
      }
    }
  }

  &--portfolio {

  }

  &--contact {

  }

  &--site-footer {

  }
}
