.wrapper {

  /* Header (Navigation) */

  &--site-header {

    &__navigation {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    &__nav-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 50%;

      @mixin atLargest {
        height: 40%;
      }
    }
  }

  /* Hero Section */

  &--hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* display: grid;
    grid-template-columns: [col-0] 20% [col-1] 20% [col-2] 20% [col-3] 20% [col-4] 20% [col-5];
    grid-template-rows: [row-0] 20% [row-1] 20% [row-2] 20% [row-3] 20% [row-4] 20% [row-5]; */

    &__image {
      display: none;
      /* grid-column: col-0 / col-5;
      grid-row: row-0 / row-3;
      display: flex;
      justify-content: center;
      position: relative;
      overflow: hidden;
      z-index: -1;
      width: 100%;
      height: 100%;
      border-bottom: 0.625em solid $blueLight;
      box-sizing: border-box;
      opacity: 0.8; */

      @mixin atSmall {
        grid-row: row-0 / row-5;
        border-bottom: none;
      }
    }

    &__info {
      display: block;
      /* grid-column: col-0 / col-5;
      grid-row: row-3 / row-5;
      justify-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%; */
      /* border-bottom: 0.625em solid $blueLight;
      box-sizing: border-box;

      @mixin atSmall {
        border-bottom: none;
      } */

      @mixin atMedium {
        grid-column: col-2 / col-5;
        grid-row: row-0 / row-5;
      }
    }

    &__tagline {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @mixin atSmall {
        flex-direction: row;
        align-items: center;
      }
    }
  }

  /* About Section */

  &--about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    @mixin atMedium {
      flex-direction: row;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      height: 100%;

      @mixin atMedium {
        flex-direction: row;
        align-items: flex-start;
        height: auto;
      }

      @supports (-ms-ime-align:auto)  {
        justify-content: space-around;
      }

      @media all and (-ms-high-contrast:none) {
        justify-content: space-around;
      }

      &-items {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 80%;

        @mixin atMedium {
          width: 75%;
        }
      }

      &-below {
        margin-top: 1em;

        @mixin atSmall {
          margin-top: 2em;
        }
      }
    }
  }

  /* Portfolio Section */

  &--portfolio {
    width: 100%;
    height: 100%;

    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5%;

      @mixin atMedSmall {
        height: 7.5%;
      }

      @mixin atLarge {
        height: 10%;
      }

      @mixin atLargest {
        height: 12.5%;
      }
    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 95%;


      @mixin atMedSmall {
        height: 92.5%;
        min-height: 1000px;
      }

      @mixin atLarge {
        height: 90%;
        min-height: 800px;
      }

      @mixin atLargest {
        height: 87.5%;
        min-height: 700px;
      }

      &-pair {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 33.3%;
        width: 100%;

        @mixin atMedSmall {
          flex-direction: row;
        }

        @mixin atLarge {
          flex-direction: column;
          height: 100%;
          width: 33.3%;
        }
      }
    }
  }

  /* Skills Section */

  &--skills {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    /* display: grid;
    grid-template-columns: [skills-col-0] 50% [skills-col-50] 50% [skills-col-100];
    grid-template-rows: [skills-row-0] 50% [skills-row-50] 50% [skills-row-100]; */
    width: 100%;
    height: 100%;

    @mixin atSmall {
      flex-wrap: nowrap;
    }

    &__content {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;

      @mixin atSmall {
        justify-content: space-evenly;
        width: 46.25%;

        @supports (-ms-ime-align:auto)  {
          justify-content: space-around;
        }
  
        @media all and (-ms-high-contrast:none) {
          justify-content: space-around;
        }
      }

      &--first {
        /* grid-column: skills-col-0 / skills-col-100;
        grid-row: skills-row-0 / skills-row-50;
        width: 100%; */

        @mixin atSmall {
          margin: 0 1.25% 0 2.5%;
          /* grid-column: skills-col-0 / skills-col-50;
          grid-row: skills-row-0 / skills-row-100; */
        }
      }

      &--second {
        /* grid-column: skills-col-0 / skills-col-100;
        grid-row: skills-row-50 / skills-row-100;
        width: 100%; */

        @mixin atSmall {
          margin: 0 2.5% 0 1.25%;
          /* grid-column: skills-col-50 / skills-col-100;
          grid-row: skills-row-0 / skills-row-100; */
        }
      }

      &-items {
        display: inline-block;
        width: 70%;
        padding-left: 0;

        @mixin atMedium {
          padding-left: 10%;
        }
      }
    }

    &__line {
      position: absolute;
      top: 0;
      bottom: 0;
      /* grid-column: skills-col-0 / skills-col-100;
      grid-row: skills-row-0 / skills-row-100; */

      &--left {
        left: 0;
        justify-self: start;
        width: 3px;
        margin: 2.5%;
      }

      &--center {
        display: none;
        left: 0;
        right: 0;
        /* justify-self: center; */
        width: 3px;
        /* margin: 2.5%; */
        margin: 0 auto;

        @mixin atSmall {
          display: block;
        }
      }

      &--right {
        right: 0;
        justify-self: end;
        width: 3px;
        margin: 2.5%;
      }
    }
  }

  /* Contact Section */

  &--contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    @mixin atMedium {
      flex-direction: row;
      justify-content: space-evenly;
    }

    @supports (-ms-ime-align:auto)  {
      justify-content: space-around;
    }

    @media all and (-ms-high-contrast:none) {
      justify-content: space-around;
    }

    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      @mixin atMedium {
        width: auto;
        height: 100%;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      @mixin atMedium {
        width: auto;
        height: 100%;
      }
    }

    &__icon-container {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }

  /* Footer Section */

  &--site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &__icon-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 75%;

      @mixin atSmall {
        width: 50%;
      }

      @mixin atMedium {
        width: 40%;
      }

      @mixin atLarge {
        width: 25%;
      }
    }
  }
}
